.programs {
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.programs img {
    width: 100%;
    height: 350px; /* Sabit yükseklik */
    object-fit: cover; /* Görüntünün oranlarını koruyarak kapsamasını sağlar */
    border-radius: 10px;
    display: block;
}

.program {
    flex-basis: calc(33.33% - 20px); /* 3 sütunlu düzen için genişlik ayarları */
    position: relative;
    margin-bottom: 20px; /* Altta boşluk bırakır */
}

.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
    
}

.caption img {
    width: 60px;
    height: 60px; /* Sabit yükseklik */
    object-fit: contain; /* Görüntünün oranlarını koruyarak içermesini sağlar */
    margin-bottom: 10px;
}

.caption p {
    color: #fff;
}

.program:hover .caption {
    opacity: 1;
    padding-top: 0;
}

/*--------- media query -------------*/

@media (max-width: 1000px) {
    .programs {
        flex-direction: column;
    }

    .program {
        flex-basis: 100%;
        margin: 20px 0;
        width: 100%;
    }
}
